/* Цвет основго текста #212121; */
/* Вторичный цвет текста #757575 */

.head {
  color: #ffffff;
  background-color: #2f303a;
}
.head-link: {
  color: #ffffff;
}

.gea ul {
  list-style: none;
}

body {
  color: #212121;
}

/* .section {
  color: #212121;
} */

.section-osob p {
  color: #757575;
}

/* .site-nav li a {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121
} */
